    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>A Quick Get to Know Me</h2>
                <p>Hi! My name is Sophia Lou</p>
                <p>I'm currently an undergraduate student studying Computer Science at Northwestern University's engineering school. I'm a rising senior!</p>
                <p>Right now, I have the unbelievable experience of working with the performance engineering team at Salesforce.</p>
            </div>
        </div>
    </section>