
    <!-- Intro Header -->
    <header class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-content col-md-6 col-md-offset-1">
                        <h2> Hi I'm </h2> 
                        <h1>Sophia Lou</h1>
                        <p>- Recent graduate from Northwestern University. Go Cats! - 
                        </p>
                        <p>- Incoming software engineer at Google for a backend video infrastructure team in Youtube -
                        </p>
                        <p>- Avid traveler and foodie -
                        </p>
                        <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" target="_blank" class="btn btn-default btn-lg">
                            <i class="fa fa-{{ network.title }} fa-fw"></i> 
                            <span class="network-name">{{ network.title }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="intro-body">
            
        </div>
    </header>
